# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.yarn/unplugged

# next.js
/.next/

# production
/build


# typescript
*.tsbuildinfo
next-env.d.ts
